<%- include('header'); -%>

<h1> About </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quisquam natus, nostrum quibusdam eaque sunt perferendis qui officiis, quo maxime laborum eveniet minima impedit ipsa, culpa incidunt sint ullam id?</p>

<%- include('footer'); -%>    